/* General navbar styles */

.navbar-custom {
    padding: 0.5rem 1rem;
}


/* Adjust brand margin */

.navbar-brand-custom {
    margin-right: auto;
}


/* Navbar link styles */

.navbar-nav .nav-item .nav-link {
    margin-right: 20px;
    color: white !important;
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
}


/* Adjustments for smaller screens */


/* Adjustments for smaller screens */


/* Remove margin/padding from the toggle button */

.navbar-toggler {
    margin-right: 0;
    /* Remove margin from the right side */
    padding-right: 0;
    /* Remove padding from the right side */
    padding-left: 0;
    /* Adjust padding on the left if needed */
}


/* Adjustments for smaller screens */

@media (max-width: 950px) {
    .navbar-toggler {
        padding: 0.25rem 0.5rem;
        /* You can adjust these values to fit your needs */
    }
}

@media (max-width: 950px) {
    .navbar-collapse {
        position: absolute;
        top: 90%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        /* Semi-transparent background */
        backdrop-filter: blur(10px);
        /* Add blur effect */
        z-index: 1050;
        /* Ensure the navbar appears above other content */
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar-nav .nav-item .nav-link {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
}