/* General navbar styles */

.navbar-custom {
    padding: 0.5rem 1rem;
}


/* Adjust brand margin */

.navbar-brand-custom {
    margin-right: auto;
}


/* Navbar link styles */

.navbar-nav .nav-item .nav-link {
    margin-right: 20px;
    color: white !important;
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
}


/* Remove margin/padding from the toggle button */

.navbar-toggler {
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
}


/* Custom style for white hamburger icon */

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


/* Adjustments for smaller screens */

@media (max-width: 950px) {
    .navbar-toggler {
        padding: 0.25rem 0.5rem;
    }
}

@media (max-width: 950px) {
    .navbar-collapse {
        position: absolute;
        top: 90%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(10px);
        z-index: 1050;
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar-nav .nav-item .nav-link {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
}